* {
    font-family: sans-serif;
    line-height: 1.618em;
    box-sizing: border-box;
    padding: 0;
}

html {
    font-size: 16px;
    margin-top: 3em;
}

h1, h2, h3 {
    color: #666;
}

header,
main,
footer {
    margin: 0 auto;
    max-width: 800px;
}

header {
    width: 100%;
    padding: 2em 0;
}

header h1 {
    color: lightgray;
    font-size: 3em;
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header p {
    color: lightgray;
    font-size: 1.5;
    text-align: center;
}

nav {
    position: fixed;
    text-align: right;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    flex-flow: row;
    justify-content: flex-end;

    background: #333;
}

nav a {
    padding: .5em 2em;
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    background: #666
}

h1 {
    font-size: 2.5rem;
}

section {
    background-color: darkgray;
    opacity: 0.8;
    border-radius: 15px;
    margin: 1em 0;

    padding-top: 3em;
    min-height: 20em;
}

section > p {
    margin: 1em 0;
}

body {
    background-image: url(images/bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#aboutMe, #mySkills, #myProjects {
    border: 2px solid black;
    padding: 1em;
}

#mySkills {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#projects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

#projects article {
    padding: 1em;
    border-radius: 25px;
}

img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 2em;
    margin-bottom: 1em;
    background: #666;
    padding: 1em 0;
    text-align: center;
}